.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(rgba(0, 77, 105, 1) 85%, rgb(1, 41, 56) 100%);
}

.main {
  position: relative;
}
